<%- include('partials/header') %>
<!-- d-flex align-items-center -->
  <div class="container align-items-center " style="margin:20% 40%;">
    <div style="margin-top: 20px;"><a class="btn btn-light btn-lg" href="/register" role="button" style="width: 25%; background-color: lightgray;">Register</a></div>
    <div style="margin-top: 20px;"><a class="btn btn-dark btn-lg" href="/login" role="button" style="width: 25%;">Login</a></div>
  </div>

<%- include('partials/footer') %>