<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3"></h1>
    <form action="/logout" method="POST">
      <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a> -->
      <button type="submit" class ="btn btn-light btn-lg">LogOut</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
<script>
  const myElement = document.getElementById("one");
  myElement.innerHTML = "hello";
</script>
