<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3"></h1>
    <%
    if(imglist.length!=0){
    imglist.forEach(function(data){
    %>
    <!-- <img src="/images/<%=data.image_name; %>" width="200px"> -->
    <img src="https://drive.google.com/file/<%=data.id;%>" width="200px">
  
    <%  }) %>
    <% } else{ %>
       
            <p>No Image in the Database</p>
        
    <% } %>

    <form action="/logout" method="POST">
      <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a> -->
      <button type="submit" class ="btn btn-light btn-lg">LogOut</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
<script>
  const myElement = document.getElementById("one");
  myElement.innerHTML = "hello";
</script>
